.contato__wrapper {
  padding-bottom: 90px;
  color: $default-blue;

  .section__title {
    margin-top: em(80px, 40px);
  }

  .contato-answer .section__title {
    text-transform: none;
  }

  .social-media__wrapper {
    margin-top: 70px;
    
    .social__title {
      display: inline;
      color: $default-blue;
      vertical-align: middle;
    }

    .social-media {
      vertical-align: middle;
    }
  }
}