.flipboxes {
  padding-top: 90px;

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    .container-large .row .medium-6 {
      margin-right: 0;
    }
  }
}

.flipbox__item {
  &:hover,
  &.active {
    @extend .flip;
  }
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    height: 500px;
    position: relative;

    background-size: cover;
    background-position: center;
    font-size: 16px;
    text-align: center;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;

    .flip--content {
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;

      line-height: 1.5;
    }

    .flip--title {
      font-size: 20px;
      line-height: 1;
      text-transform: uppercase;
      color: #333;

      img {
        display: block;
        margin: 0 auto 35px;
      }
    }

    .front, 
    .back {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: em(20px);
      padding-right: em(20px);
      width: 100%;
      
      color: #333;
    }

    .link__rounded {
      border-color: #fff;
      color: #333;
    } 

    .flip--title {
      margin-left: auto;
      margin-right: auto;
      line-height: 1.2;
    }
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    font-size: 18px;

    .flip--content {
      margin-bottom: 90px;
    }
    
    .flip--title {
      // height: 100px;
      font-size: 30px;
    }

    .link__rounded {
      left: 0;
      margin-left: 23.5%;
      bottom: 55px;
      position: absolute;
    } 

    .back {
      align-items: stretch;
    }

    .box2 {
      padding-top: em(75px);
    }
  }
}

.flipbox__item--contas {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){

    color: #fff;

    .front {
      background-color: #ffd200;
      
    }
    .back {
      background-color: #ffd200;
    }
  }
}

.flipbox__item--digital {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    color: #fff;

    .front {
      background-color: #ffba00;  
      
    }
    .back {
      background-color: #ffba00;
    }
  }
}

.flipbox__item--inadimplencia {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    color: #fff;

    .front {
      background-color: #ff9c00;
      
    }

    .back {
      background-color: #ff9c00;
    }

    .flip--title {
      max-width: 400px;
    }
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    .link__rounded {
      margin-left: 15%;
    }
  }
}