.features__content .owl-carousel {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    margin: 0 auto;
    max-width: 370px;
    width: 100%;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    max-width: 800px;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium-large')}){
    max-width: unset;
  }
}

.features__item {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    margin-top: em(70px);
    height: 240px;

    border: solid 1px #ccc;
    background-color: #fff;
    font-size: 16px;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    margin-left: em(5px);
    margin-right: em(5px);
  }
}

.features__item .gallery--title {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    margin: 0 auto;
    max-width: 270px;
    padding: 0 em(20px);

    color: $default-blue;
    font-size: 16px;
    font-weight: 400;
    line-height: em(25px);
    text-align: center;

    &::before {
      content: '';
      display: table;
      margin: 40px auto ;
      min-height: 82px;
      min-width: 102px;
    }
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    padding: 0 em(10px, 18px);

    font-size: 18px;
    line-height: 1.2;
  }

}

////////////////////////////////////
//
//  OWL theme custom
//
////////////////////////////////////

.owl-theme .owl-nav [class*=owl-] {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    height: em(65px);
    padding-top: 22px;
    width: em(65px);

    border-radius: 50%;
    background-color: #fff;
    color: #868686;
    font-size: 16px;

    &:hover {
      background-color: #fe8d20;
    }
  }
  
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    position: absolute;
    top: 50%;
    margin-top: 0;
  }
}

.owl-theme .owl-nav .owl-next {
  left: 100%;
}

.owl-theme .owl-nav .owl-prev {
  right: 100%;
}

.arrow-left {
  transform: rotate(180deg);
}