.site__header {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    padding-top: 20px;

    background-color: #192948;
    background-image: path('header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% center;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    padding-bottom: 90px;
  }

  .small-3 {
    margin-right: 0;
  }

  .small-medium-6 {
    display: flex;
    align-items: center;
  }

  .section__title {
    @extend %reset-margin-padding;
    
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      max-width: 450px;
      padding-bottom: em(35px);

      color: #fff;
      font-size: 24px;
      line-height: em(32px, 24px);
      letter-spacing: 2px;
      text-align: center;
    }

    @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
      padding-bottom: 0;
    }

    @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
      text-align: left;
    }
  }

  .link__rounded {
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      margin-top: em(30px, 16px);
      margin-left: auto;
      margin-right: auto;
      max-width: 263px;
      padding: em(17px, 16px) 0;

      font-size: 14px;
    }

    @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.site__header--logo {
  @extend %image-replacement;
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    display: block;
    margin: 0 auto 20px;
    height: 42px;
    width: 42px;

    background-image: path('logo-branco.png');
    background-repeat: no-repeat;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){

  }
}

.promo-selo {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    display: block;
    margin: 0 auto;
    padding-bottom: em(35px);
    padding-top: em(57px);
  }  
}

////////////////////////////////////
//
//  Form
//
////////////////////////////////////
.contato__wrapper {
  background-color: #f1f1f1;
}

////////////////////////////////////
//
//  FOOTER
//
////////////////////////////////////

.site--footer {
  padding-top: em(30px);
  background-color: $default-blue;
  color: #fff; 
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
}