////////////////////////////////////
//
//  Global Styles
//
////////////////////////////////////
.inovacao__wrapper,
.features__wrapper {
  position: relative;

  &::before {
    content: '';
    left: 0;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;

    background-color: transparentize(#232457, .2);
  }

  .section__title {
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      margin-bottom: em(20px, 40px);
      margin-top: em(10px, 40px);
      color: #fff;
      text-align: center;
    }
  }

  .section--subtitle {
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      margin: 0 auto;
      max-width: columns-width(8);

      font-size: 18px;
      font-weight: 300;
      line-height: em(28px, 18px);
      text-align: center;
    }
  }
}

////////////////////////////////////
//
//  Wrappers
//
////////////////////////////////////
.inovacao__wrapper {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    padding: em(70px) 0 em(90px);
  }
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    // height: 256px;
  }
}

.features__wrapper  {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    padding: em(100px) 0;
  }
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    height: 380px;
    margin-bottom: 205px;
  }
}
////////////////////////////////////
//
//  Individual Items
//
////////////////////////////////////
.features--personalizacao,
.features--distancia {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    padding: em(50px) 0;
    position: relative;

    .section__title {
      height: 100px;
      margin-top: 0;
      line-height: 1.2;
    }

    p {
      line-height: em(28px, 18px);
      max-width: 403px;
    }
  }

  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    align-items: start;

    .link__rounded {
      bottom: 20px;
      left: 50%;
      margin-left: -130px;
      padding-left: 0;
      padding-right: 0;
      position: absolute;
      width: 240px;
    }
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    display: flex;
    align-items: center;
    height: 570px;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium-large')}){ 
    .link__rounded {
      left: 0;
      margin-left: 0;
    }
  }
}

.features--personalizacao {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0d99eb+32,96edfc+100 */
    background: #0d99eb; /* Old browsers */
    background: -moz-linear-gradient(45deg, #0d99eb 32%, #96edfc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #0d99eb 32%,#96edfc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #0d99eb 32%,#96edfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d99eb', endColorstr='#96edfc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    .section__title,
    p {
      color: #333333;
    } 

    p {
      word-spacing: 4px;
    }
  } 
}

.features--distancia {
  background-color: #fe8d20;

  .section__title,
  p {
    color: #333;
  }
}

.features--content {
  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    min-height: 300px;
    max-width: 585px;
    position: relative;
  }
}

////////////////////////////////////
//
//  Custom Containers
//
////////////////////////////////////
