.parallax__wrapper {
  background-image: path('parallax.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.parallax__content .row {
  max-width: 100%;
}

// .features--content .parallax__content .small-12 {
//   @media screen and (min-width: #{map-get($breakpoints, 'small')}){
//     width: 100%;
//   }
//   @media screen and (min-width: #{map-get($breakpoints, 'medium-large')}){
//     width: 80%;
//   }
// }

.parallax__content .features--personalizacao,
.parallax__content .features--distancia {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    width: 100%;
  }
}

.parallax__content .small-medium-6 {
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    margin-right: 0;
    width: 50%;
  }
}

.container-large .row {
  margin: 0 auto;
  flex-wrap: nowrap;
  max-width: 1780px;

  .small-medium-4 {
    @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
      margin: 0;
      padding: 0;
      width: 33.33%;
    }
  }

  .medium-6 {
    @media screen and (min-width: #{map-get($breakpoints, 'large')}){
      margin-right: 20px;
    }
  }
}