.seja-graiche {
  background-color: #224372;
  color: #fff;
  text-align: center;

  .row {
    margin: 0 auto;
  }

  .section__title {
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      margin: 0 auto;
      padding-top: em(50px, 40px);
      padding-bottom: em(50px, 40px);
      max-width: 970px;

      color: #fff;
      font-size: 30px;
      text-transform: uppercase;
      line-height: 1.4;
      letter-spacing: 1px;
    }

    @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
      font-size: 40px;
    }
  }

  .section__subtitle {
    margin: 0;
    padding: 0 0 em(50px, 18px) 0;

    font-size: 18px;
  }

  .company-features {
    @extend %unlisted;
    padding-bottom: 30px;
    width: 100%;

    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;

    &::after {
      content: '';
      clear: both;
      display: table;
    }

    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      li {
        width: 100%;
      }
    }

    @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
      li {
        width: 33%;
      }
    }

    @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
      li {
        width: 25%;
      }
    }

    li {
      float: left;
      margin: 0;
      padding: 0;

      height: 160px;


      span {
        display: inline-block;
        max-width: 162px; 

        font-size: 12px;
      }

      &::before {
        content: '';
        display: block;
        margin: 0 auto em(30px);
        height: 60px;
        width: 50px;

        background-image: path('sprite-icons.png');
        background-repeat: no-repeat;
      }

      &:nth-child(1) {
        &::before{
          width: 67px;
          background-position: 0 0;
        }

      }

      &:nth-child(2) {
        span {
          max-width: 180px;   
        }
        &::before{
          width: 60px;
          background-position: -95px 0;
        }

      }

      &:nth-child(3) {
        &::before{
          width: 45px;
          background-position: -192px 0;
        }

      }

      &:nth-child(4) {
        &::before{
          width: 70px;
          background-position: -297px 0;
        }
      }

      &:nth-child(5) {
        span {
          max-width: 220px;   
        }
        &::before{
          width: 67px;
          background-position: 0 -144px;
        }

      }

      &:nth-child(6) {
        span {
          max-width: 220px;   
        }
        small {
          font-size: 10px;
        }
        &::before{
          width: 60px;
          background-position: -95px -144px;
        }
      }

      &:nth-child(7) {
        &::before{
          width: 63px;
          background-position: -185px -144px;
        }

      }

      &:nth-child(8) {
        &::before{
          width: 67px;
          background-position: -297px -140px;
        }

      }

      &:nth-child(9) {
        span {
          max-width: 200px;   
        }
        &::before {
          width: 60px;
          background-position: 0 -296px;
        }

      }

      &:nth-child(10) {
        &::before{
          width: 55px;
          background-position: -98px -296px;
        }

      }

      &:nth-child(11) {
        span {
          max-width: 220px;   
        }
        &::before{
          width: 45px;
          background-position: -194px -296px;
        }

      }

      &:nth-child(12) {
        &::before{
          width: 73px;
          background-position: -297px -289px;
        }
      }
    }
  } 
}