.sobre__wrapper {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    padding-bottom: em(22px);

    background-color: #fff;
    color: #000;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
    padding-bottom: em(70px);
    padding-top: em(70px);
  }

  .section__title {
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      color: #000;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
    }

    @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
      margin-top: 0;
      margin-bottom: em(25px, 15px); 
    }
  }

  p {
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      font-size: 12px;
    }
    @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
      font-size: 18px;
      font-weight: 300; 
      line-height:em(32px, 18px);
    }
  }

  .premio__master {
    @media screen and (min-width: #{map-get($breakpoints, 'small')}){
      display: block;
      margin: em(40px) auto em(20px);
    }

    @media screen and (min-width: #{map-get($breakpoints, 'medium')}){
      display: inline;
    }
  }
}
