////////////////////////////////////
//
//	Responsible Fonts
//
////////////////////////////////////
@function em($target, $context : $base-font-size){
	@return #{$target/$context}em;
}
// @function empercentage($target, $context : $base-font-size){
// 	@return #{$target/$context}em;
// }
////////////////////////////////////
//
//	Grid Function
//
////////////////////////////////////
@function gutter-width($gutter:$gutter-width){
	@return $gutter-width / 2;
}
@function gutter-flex-width($columns){
	$gutterObject: gutter-width();
	$columnsObject: columns-width($columns);
	$flex-gutter: $gutterObject / $columnsObject;
	@return percentage($flex-gutter);
}
@function columns-width($columns:$grid-columns){
	@return ($columns * $grid-column-width) + ($gutter-width * ($columns - 1));
}
@function columns-flex-width($columns){
	$object: columns-width($columns) - gutter-width();
	// $object: columns-width($columns);
	$context: columns-width();
	$flex-columns: $object / $context;
	@return percentage($flex-columns);
	// @return columns-width();
}
////////////////////////////////////
//
//	Image address
//
////////////////////////////////////
@function path($image) {
	@return url("../image/" + $image);
}
////////////////////////////////////
//
//	Remove unit from number
//
////////////////////////////////////\
@function number($number){
	@return ($number / ($number * 0 + 1)) / 10;
}