.container {
  @extend %centered-item;
  margin: 0 auto;
  max-width: columns-width();
  width: 100%; 
}

.row {
  @extend %clearfix;
  
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    display: block;
    // flex-wrap: wrap;  
    position: relative;
    max-width: columns-width();
    width: 100%;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'small-small-medium')}){
    display: flex;
    flex-wrap: wrap;  
    justify-content: space-between;
  }
}

.columns {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    padding-left: ($gutter-width / 2);
    padding-right: ($gutter-width / 2);
  }
}

.columns:last-child {
  margin-right: 0;
}

@each $size, $width in $breakpoints {
  @media screen and (min-width: $width) {
    @for $i from 1 through $grid-columns {
      .#{$size}-#{$i} {
        margin-right: $gutter-width;
        width: columns-flex-width($i);
        // width: columns-width($i);

        flex-shrink: 0;
        flex-grow: 0;

        &:last-of-type {
          margin-left: 0;
          margin-right: 0;
          flex-shrink: 0;
          flex-grow: 0;
        }
      } 

      .#{$size}-push-#{$i} {
        margin-left: columns-width($i) !important;
      }

      .#{$size}-pull-#{$i} {
        margin-right: columns-width($i) !important; 
      }

    }
  }
}


