@mixin active() {
    -webkit-transform: translateX(0); 
    -moz-transform: translateX(0); 
    -ms-transform: translateX(0); 
    -o-transform: translateX(0); 
    transform: translateX(0);
    opacity: 1;
    position: static;
}

@mixin inactive() {
    -webkit-transform: translateX(-1000%); 
    -moz-transform: translateX(-1000%); 
    -ms-transform: translateX(-1000%); 
    -o-transform: translateX(-1000%); 
    transform: translateX(-1000%);
    opacity: 0;
    position: absolute;
}