%image-replacement {
  text-indent: -1001%;
  overflow: hidden;
  white-space:nowrap;
}

%clearfix {
  &:after {
    clear: both;
    content: '';
    font-size: 0;
    height: 0;
    visibility: hidden;
    display: block;
  }
}

%centered-content {
  margin-left: auto;
  margin-right: auto;
  width: columns-width(12);
}

%centered-item {
  margin-left: auto;
  margin-right: auto;
}

%unlisted {
  list-style-type: none;
}

%reset-margin-padding {
  padding: 0;
  margin: 0;
}

%section__line {
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
  z-index: 1;
  
  background-color: #fff;
}

@media screen and (min-width:#{map-get($breakpoints, 'small')}){
  %active {
    -webkit-transform: translateX(0); 
    -moz-transform: translateX(0); 
    -ms-transform: translateX(0); 
    -o-transform: translateX(0); 
    transform: translateX(0);
    opacity: 1;
  }

  %divisor {
    content: ""; 
      display: block;
      height: 1px;
      left: -15px; 
      position: absolute;
      top: -10px; 
      width: 110%;
      
      background-color: #e5e5e5;
  }

  %white-shadow {
    &::before {
      content: '';
      height: 100%; 
      position: absolute;
      margin: 0; 
      left: 0;
      top: 0;
      width: 100%; 
      z-index: 2;
      
      background-color: rgba(255, 255, 255, .7);
      opacity: 1;
    } 
  }
}

@media screen and (min-width:#{map-get($breakpoints, 'medium')}){
  %active {
    -webkit-transform: translateX(0); 
    -moz-transform: translateX(0); 
    -ms-transform: translateX(0); 
    -o-transform: translateX(0); 
    transform: translateX(0);
    opacity: 1;
  }

  %white-shadow {
    &::before {
      content: none;
    } 
  }
}

@media screen and (min-width:#{map-get($breakpoints, 'medium')}){
  %home-highlights-over {
    &::before {
      -webkit-transition: all .5s linear; 
      -moz-transition: all .5s linear; 
      -ms-transition: all .5s linear; 
      -o-transition: all .5s linear; 
      transition: all .5s linear; 
    }
    &:hover::before {
      content: '';
      height: 96%; 
      position: absolute;
      margin: 0; 
      left: 2%;
      top: 2%;
      width: 96%; 
      z-index: 2;
      
      border: solid 2px rgba(255, 255, 255, .7);
      background-color: transparent; 
      opacity: 1;
    } 
  }
}

@media screen and (min-width:#{map-get($breakpoints, 'large')}){
   %divisor {
      left: -20%; 
      width: 140%;
  }
}