.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.right {
	float: right;
}

.left {
	float: left;
}

.hide {
	display: none !important;
	visibility: hidden;
}

.show {
	display: block;
	visibility: visible;
}

.sr-only {
	display: none; 
}

.has-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}