////////////////////////////////////
//
//	Typography
//
////////////////////////////////////
$base-font-size: 16px;
$baseline: 21px;
////////////////////////////////////
//
//	Grid Size
//  
//  max-width = 1170px
//
////////////////////////////////////
$grid-columns: 12;
$grid-column-width: 71px;
$gutter-width: 30px;
$row-margin: 0;
////////////////////////////////////
//
//	Responsive
//
////////////////////////////////////
$breakpoints: (
	'small': 0,
	'small-small-medium': 480px,
	'small-medium': 640px,
	'medium': 1024px,
	'medium-large': 1280px,
	'large': 1440px,
	'large-huge': 1700px
);

////////////////////////////////////
//
//	Colors
//
////////////////////////////////////
$default-color: #efefef;
$default-gray: #9ca1ac;
$default-blue: #205096;
$default-orange: #fe8d20;
// (15*56)+(28*15)+20