////////////////////////////////////
//
//  Core Imports
//
////////////////////////////////////
@import "core/_variables.scss";
@import "core/_normalize.scss";
////////////////////////////////////
//
//  Base Imports
//
////////////////////////////////////
@import "base/_functions.scss";
@import "base/_placeholders.scss";
@import "base/_mixins.scss";
@import "base/_grid.scss";
////////////////////////////////////
//
//  Components Imports
//
////////////////////////////////////
@import "components/_loader.scss";
@import "components/_typograph.scss";
@import "components/_modal.scss";
@import "components/_navigation.scss";  
@import "components/_button.scss";
@import "components/_form.scss";
@import "components/_flipxbox.scss";
@import "components/_sprite.scss";
////////////////////////////////////
//
//  Layouts Imports
//
////////////////////////////////////
@import "layout/_header.scss";
@import "layout/_sobre.scss";
@import "layout/_parallax.scss";
@import "layout/_seja-graiche.scss";
@import "layout/_inovacao.scss";
@import "layout/_gallery.scss";
@import "layout/_flipbox.scss";
@import "layout/_parallax.scss";
@import "layout/_contato.scss";
@import "core/_utilities.scss";

body {
  overflow-x: hidden;
  background-color: #f1f1f1;
}
