.link__rounded,
.call__action .site__link {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    transition: all .2s linear;

    &:hover {
      background-color: $default-blue;
      border-color: $default-blue;
      color: #fff;
    }
  }   
}

.link__rounded {
  border: solid 2px #fff;
  border-radius: 30px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    background-color: #fff;
    border: solid 2px #fff;
    color: #333;
  }
}

.link__box {
  @extend .link__rounded;

  &.active {
    background-color: transparent;
    border-color: #fe8d20;
    color: #fe8d20;
  }
}