.form__control {
  margin: em(30px) 0;
}

.form__control input[type=text],
.form__control input[type=tel],
.form__control input[type=email] {
    display: block;
    margin-bottom: em(10px);
    margin-top: em(10px);
    padding: em(10px);
    width: 100%; 
    
    background: transparent;
    border: none;
    border-bottom: solid 2px $default-blue;
    color: $default-blue;
    text-transform: uppercase;
    font-size: 16px; 
}

.form__control {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    color: $default-blue;
    font-weight: 400;
  }
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    float: left;
    margin-right: 1.5%;
    width: 31%;
  }
}

.form-response {
    padding: 5px;
    
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    text-align: center; 
    text-transform: uppercase;
}


.form-response.success-bg { 
    background-color: #DFF0D8;
    border-color: darken(#dff0d8, 20); 
}

.form-response.warning-bg {
    background-color: #f2dede;
    border-color: darken(#f2dede, 20); 
}

.form__wrapper .link__box {

  &.active {
    background-color: transparent;
    border-color: #fe8d20;
    color: #fe8d20;
  }

  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    clear: both;
    padding-bottom: em(14px);
    padding-top: em(14px);
    margin: em(5px) em(10px) em(5px) 0;
    position: relative;

    border-color: $default-blue;
    color: $default-blue;
    font-size: 15px;
    letter-spacing: 2px;
    transition: all .2s linear;

    &:hover,
    .active {
      background-color: transparent;
      border-color: #fe8d20;
      color: #fe8d20;
    }

    input[type=radio] {
      position: absolute;
      visibility: hidden;
    }
  }

  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    display: inline-block;
  }
}

.radiobutton__wrapper {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    display: block;
    margin-bottom: em(20px);

    color: $default-blue;
    font-weight: 400;
  }
  
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){ 
    display: inline-block;
    margin-right: em(20px);
  }
}

.btn-submit {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){ 
    display: block;
    width: 100%;
    
    background-color: transparent;

    &:hover{
      background-color: #fe8d20 !important;
      color: #fff !important;
    }
  }
  
  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){ 
    display: inline;
    float: right;
    margin-right: 0 !important;
    width: 225px;
  }
}

.radiobutton_group {
  @media screen and (min-width: #{map-get($breakpoints, 'medium')}){ 
    float: left;
    margin-top: 18px;
  }

  label[for="perfil"] {
    display: block;
    margin-bottom: 10px;
  }
}

.link__fornecedores {
  clear: both;
  float: right;
  margin-top: em(10px, 11px);
  padding: .5em 1em;

  background-color: #205096;
  border-radius: 5px;
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $default-blue;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $default-blue;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $default-blue;
}
:-moz-placeholder { /* Firefox 18- */
  color: $default-blue;
}

