.msg {
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	z-index: 999999;
	
	background-color: rgba(0,0,0,.5);
	
	.content-msg {
		@media screen and (min-width: #{map-get($breakpoints, 'small')}){
			display: table;
			padding: 1em; 
			margin-left: 12.5vw;
			margin-right: 12.5vw;
			margin-top: 6vw;
			position: absolute;
			height: 25vw;
			width: 80%;
			background-color: #FFF;  
			font-size: 10px;
    		line-height: 1.2;
		}

		@media screen and (min-width: #{map-get($breakpoints, 'medium')}){
			margin-left: -25vw; 
			margin-top: -12vw;
			left: 50%; 
			top: 50%; 
			width: 50vw;
			font-size: 1em; 
		}
	}
}



.close {
	
	@media screen and (min-width: #{map-get($breakpoints, 'small')}){
		display: flex;
		float: right;
		height: 20px;
		left: 90vw;
		margin-top: 3vw;
		position: absolute;
		width: 20px;
		z-index: 10;
		align-items: center;
		justify-content: center;
		
		background-color: red;
		border-radius: 50%;
		color: #fff;
		font-size: em(14px); 
	}
	
	@media screen and (min-width: #{map-get($breakpoints, 'medium')}){
		height: 2vw;
		margin-top: -13vw;
		left: 73.5%;
		width: 2vw;
		top: 50%;
	}
}