.site__nav--wrapper {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    display: table;
    margin: 0 auto;
    width: auto;

    .site__link {
      color: #fff;
      text-transform: uppercase;

      &:hover {
        color: $default-orange;
      }
    }
  }

  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    max-width: 740px;
  }
}


.site__item {
  @extend %reset-margin-padding;
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    float: left;
    padding: 0 em(10px, 12px);
    position: relative;
    width: 50%;

    font-size: 12px;
    text-align: center;

    &.call__action {
      width: 100%;
    }
  }
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    padding: 0 em(20px, 12px);
    width: 30%;

    &.call__action {
      width: auto;
    } 
  }
  
  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    &:first-child {
      text-align: right;

      &::after {
        content: '';
        display: block;
        height: 70%;
        left: 100%;
        position: absolute;
        top: 3px;
        width: 1px;

        background-color: #fff;
      }
    }
  }
}

.site__nav .call__action .site__link {
  @media screen and (min-width: #{map-get($breakpoints, 'small')}){
    margin: em(20px) auto 0;
    max-width: 200px;

    border: solid 2px #fff;
    border-radius: 20px;
    text-align: center;
  }
  
  @media screen and (min-width: #{map-get($breakpoints, 'small-small-medium')}){
    display: inline-block;
    margin: 0;
    padding: em(5px, 12px);
  }

  @media screen and (min-width: #{map-get($breakpoints, 'small-medium')}){
    padding: em(10px, 12px) em(20px, 12px);
  }
}
