.social-media {
  @extend %image-replacement;
  display: inline-block;
  height: 42px;
  width: 42px;
}

.social-media__facebook {
  background-image: path('social-media.svg#facebook');
}

.social-media__twitter {
  background-image: path('social-media.svg#twitter');
  background-position: -80px -1px;
}

.social-media__linkedin {
  background-image: path('social-media.svg#linkedin');
  background-position: -40px -1px;
}

.social-media__youtube {
  background-image: path('social-media.svg#youtube');
  background-position: -160px -1px;
}

.social-media__instagram {
  background-image: path('ico-instagram.png');
  background-position: center;
  background-repeat: no-repeat;
}

////////////////////////////////////
//
//  Gallery
//
////////////////////////////////////

.gallery--title::before {
  @extend %image-replacement;
  display: block;
  height: 85px;
  width: auto;

  background-image: path('gallery-sprite.png');
  background-repeat: no-repeat;
}

.integracao .gallery--title::before{
  background-position: 0 -555px;
}

.atendimento .gallery--title::before {
  background-position: -408px -555px;
}

.cadastro .gallery--title::before {
  background-position: -802px -555px;
}

.logistica .gallery--title::before {
  background-position: 0 -184px;
}

.roberto .gallery--title::before {
  background-position: -400px -190px;
}

.cobranca .gallery--title::before {
  background-position: -810px -184px;
}

.rh .gallery--title::before {
  background-position: 0 -355px;
}

.tributario .gallery--title::before {
  background-position: -399px -355px;
}

.contabilidade .gallery--title::before {
  background-position: -804px -355px;
}

.suprimentos .gallery--title::before {
  background-position: 0 -16px;  
}

.sustentabilidade .gallery--title::before {
  background-position: -406px -16px;  
}

.tecnologia .gallery--title::before {
  background-position: -804px -16px;  
}


