body {
  font: normal normal normal #{$base-font-size}/#{$baseline} 'Montserrat', sans-serif;
  color: $default-gray;
}

h1,
h2,
h3,
h4 {
  font-family: inherit; 
  line-height: 1;
  color: $default-color;
}

h1 {
  font-size: em(40px);
}

h2 {
  font-size: em(30px);
}

h3 {
  font-size: em(27px);
}

h4 {
  font-size: em(20px);
}

h5 {
  font-size: em(16px);
}

h6 {
  font-size: em(12px);
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all .2s linear;
}

ul {
  list-style-type: disc;
}

li {
  margin-bottom: .5em;
  margin-left: 1.5em;
  margin-top: .5em; 
}


.section__title {
  @media screen and (min-width:#{map-get($breakpoints, 'small')}){
    position: relative;

    color: $default-blue;
    font-size: 30px;
    text-transform: uppercase;

    span {
      color: #ffa71c;
    }
  }

  @media screen and (min-width:#{map-get($breakpoints, 'medium')}){
    font-size: 40px; 
    line-height: em(64px, 40px);
  }
}